table, th, td {
    border: 1px solid;
    border-collapse:collapse;
 }
 img {
   display:block;
     margin-left:auto;
     margin-right:auto;
   height:100%;
    width:100%;
         }
  
    img:hover {
    box-shadow: 0 0 2px 1px rgba(197, 219, 226, 0.5);
              }
          ul {
              list-style-type: square;
          }
          .ima{
            height:"500px";
            width:"500px";
          }
